@font-face {
    font-family: 'Orbitron-R';
    src: url('../fonts/Orbitron-Regular.ttf'),
}

@font-face {
    font-family: 'Orbitron-B';
    src: url('../fonts/Orbitron-Black.ttf');
}

* {
    font-family: 'Orbitron-R';
}

body {

    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.089);
    position: sticky;
    top: 0;
    background-color: white;
}

button {
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    letter-spacing: 1px;
    transition: .3s;
}

.selected {
    background-color: rgb(0, 0, 0);
    color: white;
}



p {
    font-size: 15px;
    margin: 20px;
    height: 20px;
    transition: .3s;
    cursor: pointer;
    color: rgb(151, 151, 151);
}

p:hover {
    font-size: 18px;
    color: black;
    font-family: 'Orbitron-B';
}

.items-list {
    width: 100%;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 40px;
}

.load-btn {
    background-color: white;
    color: transparent;
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    position: relative;
}

.load-btn::before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background-image: url('../img/right-arrow-next.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    opacity: 50%;
}

.show {
    display: block;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.548);
    top: 50%;
    left: 50%;
    z-index: 5;
    backdrop-filter: invert(1);
    transform: scale(0);
}

.blur {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    top: 50%;
    left: 50%;
    z-index: 5;
    backdrop-filter: blur(5px);
    transform: scale(0);
}

.popup {
    position: fixed;
    width: 360px;
    /* height: 440px; */
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: scale(0);
    background-color: rgb(255, 255, 255);
    clip-path: polygon(0 0, 90% 0, 100% 10%, 100% 100%, 0 100%);
    padding-left: 50px;
    padding-right: 60px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.descript-item {
    display: flex;
    margin-bottom: 14px;
}

h5 {
    margin: 0;
    margin-bottom: 0;
    margin-left: 0;
     margin-right: 10px;
     font-size: 15px;
     width: 100%;
     color: rgb(112, 112, 112);
}

h4 {
   margin: 0;
   font-size: 20px;
   text-align: right;
  
}

h2{
    margin: 0;
    font-family: 'Orbitron-B';
    font-size: 34px;
    margin-bottom: 30px;
}

.active {
    transform: translate(-50%, -50%) scale(1);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.shape {
    width: 140px;
    height: 0;
    border-bottom: 30px solid black;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../img/star-wars.svg');
    background-position: 50% 40%;
    background-size: 360px;
    background-repeat: no-repeat;
    z-index: -1;
    display: block;
}

.disable {
    display: none;
}